html, body, #root {
    margin: 0;
    /* height: 100%; */
    text-align: center;
}

a {
    color: blue;
}

form {
    width: 300px;
    border: 1px solid;
    text-align: left;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}

form > input, form > button {
    font-size: large;
}

form {
    position: relative;
}

.error {
    color: red;
    position: absolute;
    margin-left: 20px;
    width: 100%;
}
